.feature {

    @media screen and (max-width: 767px) {
        display: block;
        }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        }
}

.feature__item {
    @media screen and (max-width: 767px) {
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 120px) / 4);
        }
    
}

.feature__title {
    text-align: center;
    color: $primary-title-color;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        text-align: left;
    }
    }
.feature__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    padding: 25px 0;
    border-radius: 4px;
    background-color: $button-bg-color;
    }
.feature__icon {
    width: 70px;
    height: 70px;
    }
