

.feature {

    @media screen and (max-width: 767px) {
        display: block;
        }

        @media (min-width: $tablet) and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }

        @media screen and (min-width: $desktop) {
            display: flex;
            justify-content: center;
                        
            }
}

.feature__item {
    @media screen and (max-width: 767px) {
        
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        }

    @media (min-width: $tablet) and (max-width: 1199px) {
        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.feature__title {
    text-align: center;
    color: $primary-title-color;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 10px;
    text-transform: uppercase;

    @media screen and (min-width: $tablet) {
        text-align: left;
    }
    }
.feature__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    padding: 25px 0;
    border-radius: 4px;
    background-color: $button-bg-color;
    }
.feature__icon {
    width: 70px;
    height: 70px;
    }



// .feature .feature__item {width: 270px;}