.hero {
    max-width: 1600px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    text-align: center;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../images/hero/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url('../images/hero/hero-mobile@2x.jpg');
}

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero/hero-desktop.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero-tablet@2x.jpg');
        }
    }
    

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url("../images/hero/hero-desktop.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero-desktop@2x.jpg');
        }
    }

    &__title {
        color: $primary-bg-color;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.6;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        }
    }


    
.hero__button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: $primary-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: $accent-color;
    transition: background-color $transition;
&:hover,
&:focus {
    background-color: #118CE8;
}
}

