.hero {
    max-width: 1600px;
    padding: 200px 0;
    background-color: #C4C4C4;
    text-align: center;
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url("../images/header-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }

.hero__title {
    color: $primary-bg-color;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    }
    
.hero__button {
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: $primary-bg-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: $accent-color;
    transition: background-color $transition;
&:hover,
&:focus {
    background-color: #118CE8;
}
}

