.filter {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px){
        display: flex;
        flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.filter__button {
    font-weight: 500;
    font-size: 16px;
    padding: 6px 22px;
    min-width:auto;
    line-height: 1.6;
    text-align: center;
    background-color: $button-bg-color;
    color: $primary-title-color;
    border-radius: 4px;
    border: none;
    transition: background-color $transition,
    color $transition,
    box-shadow $transition;

&:hover,
&:focus {
    color: $primary-bg-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
}

.filter__item:not(:last-child) {
    margin: 0 8px 15px 0;
}
@media screen and (max-width: 767px) {
    .filter__item:nth-child(n + 5) {
        margin-bottom: 40px;
    }
}
.filter__item {
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

    /* Work */
    .portfolio {
        @media screen and (max-width: 767px) {
            display: block;
            margin-bottom: 60px;
            }
        
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
            }

    &__item {
        width: 370px;
        margin-bottom: 30px;
        border: 1px solid #EEEEEE;

        @media screen and (min-width: 768px) {
            width: 354px;
            margin: 15px;
            flex-basis: calc((100% - 60px) / 2);
        }
        @media screen and (min-width: 1200px) {
            width: 370px;
            flex-basis: calc((100% - 90px) / 3);
        }
        }

    &__info {padding: 20px 24px; }
    
    &__title {
        color: $primary-title-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin-bottom: 4px;
    }
    
    &__description {
        font-size: 16px;
        line-height: 1.9;
        color: $primary-text-color;
    }
    
    &__link {
        display: block;
    }
    
    &__item:hover,
    &__item:focus {box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow $transition;
    }
    
    &__box {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        overflow: hidden;
        }
    
    &__text {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        padding: 63px 24px;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: $primary-bg-color;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform $transition;
        
        }

    }
    
    .portfolio__link:hover .portfolio__text,
    .portfolio__link:focus .portfolio__text{
        transform: translateY(0);
        }