.backdrop {
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity $transition;
    z-index: 1;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

