.close-modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    
    background-color: $primary-bg-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

}
.close-modal-icon {
    width: 14px;
    height: 14px;
    transition: fill $transition;

.close-modal-button:hover &,
.close-modal-button:focus & {
    fill: $accent-color;}
}

